---
layout: default
title: Projects
permalink: /projects/
category: proj
published: true
---
<h1> Projects </h1>

{% for post in site.posts %}
  {% if post.categories contains 'proj' %}
	<div class="post proj_card">
		<h3 class="title posttitle"> 
			<a href="{{ post.url }}" title="{{ post.title }}"> {{ post.title }} </a> 
			<span class="meta metadate">{{ post.date | date_to_string: "ordinal", "US"}}</span>
		</h3>
		

		{% if post.github %}
		<div class="entry github">
			<a href="{{ post.github }}" title="View on GitHub">View associated GitHub repository</a>
		</div>
		{% endif %}

		<div class="entry proj_description">
			{{ post.description }}
			{{ post.content | strip_html | strip_newlines | truncatewords: 25 }}
		</div>
  	</div>
  {% endif %}
{% endfor %}
